@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/stolzl/subset-Stolzl-Regular.woff2') format('woff2'),
  url('../fonts/stolzl/subset-Stolzl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/stolzl/subset-Stolzl-Bold.woff2') format('woff2'),
  url('../fonts/stolzl/subset-Stolzl-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/stolzl/subset-Stolzl-Medium.woff2') format('woff2'),
  url('../fonts/stolzl/subset-Stolzl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Display';
  src: url('../fonts/stolzl-display/subset-StolzlDisplay-Bold.woff2') format('woff2'),
  url('../fonts/stolzl-display/subset-StolzlDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Stolzl', Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: 'Stolzl Display';
  line-height: 1.5;
}

h1 {
  font-size: 2.2rem;
}

.bold {
  font-weight: bold;
}

.text--l {
  font-size: 1.3rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.4rem;
  }
}