@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/stolzl/subset-Stolzl-Regular.woff2') format('woff2'),
  url('../fonts/stolzl/subset-Stolzl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/stolzl/subset-Stolzl-Bold.woff2') format('woff2'),
  url('../fonts/stolzl/subset-Stolzl-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/stolzl/subset-Stolzl-Medium.woff2') format('woff2'),
  url('../fonts/stolzl/subset-Stolzl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Display';
  src: url('../fonts/stolzl-display/subset-StolzlDisplay-Bold.woff2') format('woff2'),
  url('../fonts/stolzl-display/subset-StolzlDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Stolzl', Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Stolzl Display';
  line-height: 1.5;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.text--w-medium {
  font-weight: 500;
}

.text--w-bold {
  font-weight: 700;
}

.text--l {
  font-size: 1.3rem;
}

.text--s {
  font-size: 1rem;
  line-height: 1.4;
}

.text--xs {
  font-size: 0.85rem;
}

.text--c-white {
  color: var(--white);
}

.text--c-grey {
  color: var(--grey);
}

@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  .text--l {
    font-size: 1.8rem;
  }
}