:root   {
  --red: hsl(0, 79%, 57%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

body {
  background-color: black;
}

.layout-container {
  max-width: 90rem;
  margin: 0 auto;
}

.padding-container {
  padding: 0 1rem 0 1rem;
}

.icon--wh-bl {
  filter: invert();
}

.icon--l {
  width: 4rem;
}

.icon--s {
  width: 1.3rem;
}

.arrow {
  width: 75px;
  height: 49px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s ease;
}

.arrow__shaft {
  position: absolute;
  border: solid var(--white);
  border-width: 5px 0 0 0;
  width: 100%;
  left: 0;
}

a:hover .arrow ,button:hover .arrow {
  width: 125px;
}

.arrow__shaft::after {
  position: absolute;
  content: '';
  right: 0;
  top: -13px;
  border: solid var(--white);
  border-width: 0 5px 5px 0;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 22px;
  width: 22px;
}

.arrow__shaft--disabled, .arrow__shaft--disabled::after {
  border-color: grey;
}

.arrow--left {
  transform: rotate(180deg);
}

@media (min-width: 700px) {
  .icon--wh-bl {
    filter: none;
  }
}