html {
  font: 300 16px "Stolzl", sans-serif;
}

body {
  background-color: black;
  color: white;
}

header, main, footer {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Stolzl Display";
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-family: "Stolzl Display";
}

h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
  color: #fff;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
  h2 {
    font-size: 35px;
    line-height: 42px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 70px;
    line-height: 84px;
  }
  h2 {
    font-size: 50px;
    line-height: 60px;
  }
  h3 {
    font-size: 26px;
  }
}

/*#region header*/
.header {
  position: relative;
  padding: 50px 0;
  background: url(../img/hero-mobile.jpg) top center no-repeat;
  background-size: contain;
  width: auto;
  height: 550px;
}

.header_logo {
  display: inline-block;
  position: relative;
}

.gf_logo {
  width: 150px;
}

.header_nav {
  position: absolute;
  display: none;
  margin-top: 20px;
  margin-left: 70px;
}

.nav_items {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.nav_item {
  display: none;
  text-decoration: none;
  color: white; 
  padding: 0 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.header_search {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
}

.header_search .nav_item {
  color: black;
}

.header_search .nav_item:hover {
  color: white;
}

.search:hover {
  filter: invert(100%);
}

.nav_item:hover::after {
  display: block;
  width: 25px;
  margin: 6px 0 0;
  border-top: solid 4px #fff;
  content: '';
}

@media (min-width: 768px) {
  .header {
    padding: 50px 0;
    background: url(../img/hero-tablet.jpg) top left no-repeat;
    height: 800px;
  }
  .header_search {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 300px;
    height: 140px;
    padding: 36px 30px;
    background: #e83c3c;
  }
  .search {
    display: flex;
    margin-right: 80px;
    margin-left: 20px;
    width: 21px;
    font-weight: 700;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px 0;
  }
}

@media (min-width: 1280px) {
  .header {
    background: url(../img/hero-desktop.jpg) top left no-repeat;
    height: 1200px;
  }
  .gf_logo {
    width: 176px;
  }
  .header_search {
    width: 500px;
    padding: 50px 40px;
  }
  .header_nav {
    display: inline-block;
  }
  .nav_item {
    display: inline-block;
  }
}
/*#endregion header*/

/*#region hamburger*/
.hamburger {
  display: inline-flex;
  position: absolute;
  top: 50px;
  right: 16px;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 20px;
}

.hamburger::before {
  content: url(../img/gentse-feesten-icoontjes/hamburger.svg);
  filter: invert(100%);
  font-weight: 400;
}

.close_hamburger {
  display: inline-flex;
  position: absolute;
  top: 50px;
  right: 24px;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 20px;
}

.close_hamburger::before {
  content: url(../img/gentse-feesten-icoontjes/cross.svg);
  transform: scale(0.6);
  font-weight: 400;
}

.hamburger_nav {
  padding: 0 16px;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #e83c3c;
  color: white;
  list-style: none;
  padding-top: 50px;
  overflow-y: auto;
}

.showMenu {
  display: block;
}

@media (min-width: 768px) {
  .hamburger {
    right: 30px;
  }
  .hamburger::before {
    filter: invert(0%);
  }
}

.hamburger:hover::before {
  filter: invert(100%);
}
/*#endregion hamburger*/

/*#region hamburger_menu*/
.inverse {
  filter: invert(100%);
  margin-bottom: 100px;
}

.hamburger_items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.hamburger_item {
  display: flex;
  margin-bottom: 36px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
}

.hamburger_item .arrow{
  display: inline-block;
  margin-left: 20px;
  transform: rotate(90deg) scale(0.4);
}

.hamburger_items ul li {
  padding-left: 20px;
  text-transform: none;
}

.hamburger_item a {
  color: #000;
}

.hamburger_items .hamburger_item a img {
  padding-left: 0;
  transform: scale(0.6);
}

@media (min-width: 768px) {
  .jump {
    position: absolute;
    left: 280px;
    top: 305px;
  }
  .hamburger_item .arrow {
    transform: rotate(0) scale(0.8);
  }
  .search_item {
    position: absolute;
    top: 50px;
    right: 116px;
  }
  .hamburger_items .hamburger_item a img {
    transform: scale(0.7);
  }
  .close_hamburger {
    right: 46px;
  }
}

@media (min-width: 1028px) {
  .hamburger_nav::after {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: #000   url(../img/hero-mobile.jpg) no-repeat center right;
    background-size: contain;
    content: '';
    z-index: -100;
  }
  .close_hamburger::before, .hamburger_item img {
    filter: invert(100%);
  }
}
/*#endregion hamburger_menu*/

/*#region arrow*/
.arrow {
  position: relative;
  height: 5px;
  width: 80px;
  transition: all 0.3s ease;
  border: 2px solid white;
  background-color: white;
}

a:hover .arrow {
  width: 150px;
}

.arrow::after {
  position: absolute;
  border: 2px solid white;
  width: 20px;
  transform: rotate(-45deg);
  content: '';
  top: 5px;
  right: -8px;
  background-color: white;
}

.left::after {
  left: -8px;
  top: -7px;
}

.arrow::before {
  position: absolute;
  border: 2px solid white;
  width: 20px;
  transform: rotate(45deg);
  content: '';
  top: -7px;
  right: -8px;
  background-color: white;
}

.left::before {
  left: -8px;
  top: 5px;
}

.black, .black::after, .black::before {
  border: 2px solid black;
  background-color: #000;
}

/*#endregion arrow*/

/*#region header_bottom_title*/
.header_bottom_title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title-wrapper {
  position: relative;
  float: right;
  padding: 35px 0;
}

.title {
  background-color: black;
  min-width: max-content;
  padding: 8px;
  margin-right: 20px;
  text-align: right;
  float: right;
}

.title-wrapper::after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 100%;
  background: #e83c3c;
  content: "";
  z-index: -1;
}

.cta_link {
  display: flex;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta_text {
  color: white;
  margin: 40px;
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {
  .header_bottom {
    position: absolute;
    top: 100px;
    right: 16px;
    z-index: 1;
  }
  .title {
    font-size: 40px;
    line-height: 48px;
  }
  .title-wrapper {
    padding: 50px 0;
  }
  .title-wrapper::after {
    width: 300px;
  }
  .cta {
    width: 500px;
  }
  .cta_text {
    margin: 0 40px;
  }
  .vandaag {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  .title {
    margin-right: 36px;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 70px;
    line-height: 84px;
  }
  .title-wrapper::after {
    width: 500px;
  }
  .vandaag {
    font-size: 30px;
    line-height: 36px;
  }
}
/*#endregion header_bottom*/

/*#region event carousel*/
.carousel {
  margin-bottom: 50px;
  padding: 60px 16px 0 16px;
}

.carousel_buttons {
  position: relative;
  float: right;
  height: 32px;
  margin: 0 30px 10px 0;
}

.carousel_buttons .right {
  right: 20px;
}

.carousel_buttons .left {
  right: 25px;
}

.carousel_buttons .arrow:hover {
  width: 150px;
}

.events {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
  margin: 0 -10px;
  width: 2544px;
}

.event {
  flex: 0 0 auto;
  width: 319px;
  padding: 10px;
}

.event_link {
  text-decoration: none;
  color: white;
}

.event_image {
  position: relative;
  background-size: fill;
  background-position-y: top;
  aspect-ratio: 1.7 / 1;
  border: 1px solid white;
}

.event:nth-child(even) .event_image {
  aspect-ratio: 1.4 / 1;
}

.black_field {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  text-transform: uppercase;
  background-color: #000;
  padding: 5px 10px;
}

.event_info {
  position: relative;
  margin-top: -30px;
  margin-right: 70px;
  padding: 35px;
  background: #000;
  z-index: 1;
  border: 1px solid white;
}

.event_info p {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  padding: 5px 10px;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 0 #e83c3c;
}

.red_field {
  background-color: #e83c3c;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}

.event_link:hover .event_info {
  box-shadow: -20px 20px 0 0 #e83c3c;
  transform: translate(32px, -32px);
}

@media (min-width: 768px) {
  .carousel {
    margin-bottom: 80px;
  }
  .events {
    width: 2632px;
  }
  .event {
    width: 329px;
  }
  .event:nth-child(odd) {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .events {
    width: 3528px;
  }
  .event {
    width: 441px;
  }
}
/*#endregion event carousel*/

/*#region days grid*/
.days {
  display: inline-flex;
  list-style: none;
  width: 100%;
  height: 160px;
  flex-wrap: wrap;
}

.day {
  background-color: #e83c3c;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.day_short {
  font-size: 22px;
  line-height: 33px;
  font-family: "Stolzl Display", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.day_long {
  font-size: 16px;
}

.day:hover {
  background-color: #000;
}

.day:hover .day_text {
  color: #fff;
}

@media (min-width: 768px) {
  .days {
    width: 350px;
    height: 370px;
    float: right;
    margin-right: 36px;
  }
  .day {
    width: 33.3%;
  }
  .day:nth-child(2) {
    margin-right: 33.3%;
  }
  .day:nth-child(9) {
    margin-left: 33.3%;
  }
  .day_short {
    font-size: 26px;
  }
  .day_long {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .days {
    width: 470px;
    margin-right: 130px;
  }
  .day {
    height: 120px;
  }
  .day_short {
    font-size: 30px;
  }
  .day_long {
    font-size: 18px;
  }
}
/*#endregion days grid*/

/*#region news*/
.news {
  position: relative;
  padding: 0 16px;
}

.category_title {
  display: inline-block;
  position: relative;
  margin-left: -20px;
}

.category_title h2 {
  font-size: 70px;
  line-height: 90px;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  background: #000;
}

.category_title::before {
  display: inline-block;
  position: absolute;
  top: -40px;
  right: -20px;
  width: 100%;
  height: 90px;
  background: #e83c3c;
  content: '';
  z-index: -1;
}

.news_items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
  margin-top: 50px;
  height: 456px;
}

.news_items::after {
  display: inline-flex;
  background: url(../img/bg-twitterfeed.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 250px;
  content: '';
}

.news_article {
  border: 1px solid white;
  height: 154px;
}

.news_link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.news_link h3 {
  padding: 14px 14px 100px 14px;
} 

.news_link .arrow {
  position: absolute;
  bottom: 14px;
  left: 14px;
}

.cta_news {
  margin-top: 290px;
  width: max-content;
  padding: 16px 24px;
  line-height: 30px;
  border: 1px solid white;
}

.button {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.cta_news:hover {
  background-color: #fff;
}

.cta_news:hover a {
  color: #000;
}

.news_article:hover {
  background-color: #e83c3c;
}

.news_article:hover h3, .news_article:hover .arrow{
  filter: invert(100%);
}

@media (min-width: 768px) {
  .category_title {
    position: absolute;
    transform: rotate(-90deg);
    top: 240px;
    left: 0;
    width: 20%;
    margin-left: 5px;
  }
  .category_title h2 {
    font-size: 100px;
    line-height: 150px;
  }
  .category_title::before {
    position: absolute;
    bottom: 80px;
    left: 50px;
    width: 390px;
    height: 120px;
  }
  .news_items {
    max-width: 80%;
    margin-right: 0;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
  }
  .news_items .news_article:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
  .news_article {
    min-height: 240px;
  }
  .news_link .arrow {
    bottom: 40px;
  }
  .news_items::after {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cta_news {
    margin-left: 20%;
  }
}

@media (min-width: 1280px) {
  .news_items {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .news_article {
    min-height: 300px;
  }
  .news_items::after {
    width: 500px;
    height: auto;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cta_news {
    margin-top: 175px;
  }
  .category_title {
    top: 360px;
  }
  .category_title::before {
    width: 570px;
    left: 60px;
  }
  .category_title h2 {
    font-size: 150px;
    line-height: 180px;
  }
}
/*#endregion news*/

/*#region content_bottom*/
.content_bottom {
  background: url(../img/visual-eyecatchers.png) no-repeat top right;
  margin-top: 40px;
}

.cta_media {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 240px 16px;
}

.red_cta {
  background-color: #e83c3c;
  color: black;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 20px 30px;
  text-transform: capitalize;
  margin: 0 20px 35px 0;
}

.red_cta h2 {
  width: fit-content;
}

.red_cta .arrow {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .cta_media {
    padding: 0 16px 40px 16px;
  }
}
/*#endregion content_bottom*/

/*#region newsletter*/
.newsletter {
  padding: 20px 16px 360px 16px;
  background: url(../img/bg-footer.jpg) no-repeat bottom right;
  background-size: 120%;
}

.newsletter_intro h2 {
  margin-bottom: 20px;
}

.newsletter_intro p {
  margin-bottom: 40px;
}

.newsletter_subscribe {
  margin-bottom: 24px;
}

.newsletter_subscribe input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin-bottom: 20px;
  border: 0px;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.red_button {
  padding: 15px 30px;
  font-size: 18px;
  height: 54px;
  margin: 0;
  background-color: #e83c3c;
  border: 1px solid #e83c3c;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.red_button:hover {
  background-color: #fff;
  border-color: #fff;
}

@media (min-width: 768px) {
  .newsletter {
    padding-bottom: 190px;
    background-size: contain;
  }
  .newsletter_subscribe {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .red_button {
    width: fit-content;
  }
  .newsletter_intro p {
    margin-bottom: 70px;
  }
}

@media (min-width: 1024px) {
  .newsletter {
    padding-bottom: 320px;
  }
  .newsletter_subscribe {
    flex-direction: row;
    width: 50%;
  }
  .newsletter_subscribe input {
    width: 60%;
    margin-right: 20px
  };
}
/*#endregion newsletter*/

/*#region disclaimer*/
.disclaimer {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 20px;
}

.disclaimer a {
  text-decoration: underline;
}
/*#endregion disclaimer*/

/*#region footer_top*/
.footer_top {
  background-color: #e83c3c;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  color: #000;
}

.footer_top ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.socials {
  margin-bottom: 40px;
}

.socials ul li { 
  height: 40px;
  width: 40px;
  margin-right: 16px;
  background-color: #000;
  border-radius: 100%;
}

.socials ul li a {
  filter: invert(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials ul li:hover {
  background-color: #fff;
}

.socials ul li:hover a{
  filter: invert(0);
}

.footer_logo {
  width: fit-content;
  margin-bottom: 70px;
}

.footer_logo img {
  width: 150px;
}

.content {
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 20px;
}

.content p {
  font-weight: 700;
  text-transform: capitalize;
}

.content hr {
  height: 2px;
  margin: 20px 0;
  border-color: #000;
  background-color: #000;
}

.content .date {
  font-weight: 400;
  text-transform: none;
}

.hashtag {
  margin-bottom: 30px;
  font-family: "Stolzl Display", sans-serif;
  font-size: 30px;
  font-weight: 700
}

.partners {
  margin-bottom: 24px;
}

.partners ul {
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
}

.partners img {
  height: 40px;
}

@media (min-width: 768px) {
  .footer_top {
    padding: 90px 16px 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .socials, .footer_logo, .hashtag, .partners {
    width: 50%;
  }
  .footer_top .content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer_top .content hr {
    flex-grow: 1;
    margin: 0 20px;
  }
  .footer_top .content p {
    font-size: 25px;
    line-height: 30px;
  }
  .footer_logo img {
    width: 220px;
  }
  .footer_logo a, .partners {
    display: flex;
    justify-content: end;
  }
  .partners ul{
    width: 80%;
  }
  .hashtag {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: 1024px) {
  .footer_top {
    padding: 130px 16px 70px;
  }
  .socials ul li {
    width: 60px;
    height: 60px;
  }
  .socials a {
    width: 100%;
    height: 100%;
  }
  .socials img {
    transform: scale(1.5);
  }
  .footer_logo img {
    width: 320px;
  }
}
/*#endregion footer_top*/

/*#region footer_bottom*/
.footer_bottom {
  padding: 24px 16px 8px 16px;
}

.footer_bottom a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer_bottom ul:last-child::after {
  display: inline-block;
  content: url(../img/gentse-feesten-icoontjes/external-link.svg);
  transform: scale(.4);
  filter: invert(60%);
  margin-left: -10px;
}

.disclaimer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 20px;
  align-items: center;
}

.disclaimer li {
  padding-right: 10px;
  height: fit-content;
}

.disclaimer p {
  line-height: 28px;
  font-size: 13px;
}

.disclaimer li:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .disclaimer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .disclaimer nav {
    width: 70%;
  }
  .disclaimer p {
    flex-grow: 0;
  }
}

@media (min-width: 1024px) {
  .disclaimer nav {
    width: 30%;
  }
}
/*#endregion footer_bottom*/