html {
  font: 300 16px "Stolzl", sans-serif;
}

body {
  background-color: black;
  color: white;
}

header, main, .footer_top, .footer_bottom .disclaimer  {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Stolzl Display";
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-family: "Stolzl Display";
}

h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
  color: #fff;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
  h2 {
    font-size: 35px;
    line-height: 42px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 70px;
    line-height: 84px;
  }
  h2 {
    font-size: 50px;
    line-height: 60px;
  }
  h3 {
    font-size: 26px;
  }
}

/*#region header*/
.header {
  position: relative;
  padding: 50px 0 0 0;
}

.header_logo {
  display: inline-block;
  position: relative;
}

.gf_logo {
  width: 150px;
}

.header_nav {
  position: absolute;
  display: none;
  margin-top: 20px;
  margin-left: 70px;
}

.nav_items {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.nav_item, .search {
  display: none;
  text-decoration: none;
  color: white; 
  padding: 0 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.header_search {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  right: 0;
  width: 190px;
  height: 140px;
  padding: 36px 30px;
  background: #e83c3c;
}

.header_search .nav_item {
  color: black;
}

.search:hover {
  filter: invert(100%);
}

.header_search .nav_item:hover {
  color: white;
}

.nav_item:hover::after {
  display: block;
  width: 25px;
  margin: 6px 0 0;
  border-top: solid 4px #fff;
  content: '';
}

.active::after {
  display: block;
  width: 25px;
  height: 15px;
  margin: 6px 0 0;
  border-top: solid 3px #fff;
  border-left: solid 3px #fff;
  content: '';
}

@media (min-width: 768px) {
  header {
    height: 300px;
  }
  .header {
    padding: 50px 0;
  }
  .header_search {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 300px;
    height: 140px;
    padding: 36px 30px;
    background: #e83c3c;
  }
  .search {
    display: flex;
    margin-right: 80px;
    margin-left: 20px;
    font-weight: 700;
    align-items: center;
    transform: scale(0.8);
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px 0;
  }
}

@media (min-width: 1280px) {
  .gf_logo {
    width: 176px;
  }
  .header_search {
    width: 500px;
    padding: 50px 40px;
  }
  .header_nav {
    display: inline-block;
  }
  .nav_item {
    display: inline-block;
  }
}
/*#endregion header*/

/*#region hamburger*/
.hamburger {
  display: inline-flex;
  position: absolute;
  top: 50px;
  right: 16px;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 20px;
}

.hamburger::before {
  content: url(../img/gentse-feesten-icoontjes/hamburger.svg);
  font-weight: 400;
}

.close_hamburger {
  display: inline-flex;
  position: absolute;
  top: 50px;
  right: 24px;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 20px;
}

.close_hamburger::before {
  content: url(../img/gentse-feesten-icoontjes/cross.svg);
  transform: scale(0.6);
  font-weight: 400;
}

.hamburger_nav {
  padding: 0 16px;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #e83c3c;
  color: white;
  list-style: none;
  padding-top: 50px;
  overflow-y: auto;
}

.showMenu {
  display: block;
}

@media (min-width: 768px) {
  .hamburger {
    right: 30px;
  }
  .hamburger::before {
    filter: invert(0%);
  }
}

.hamburger:hover::before {
  filter: invert(100%);
}
/*#endregion hamburger*/

/*#region hamburger_menu*/
.inverse {
  filter: invert(100%);
  margin-bottom: 100px;
}

.hamburger_items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.hamburger_item {
  display: flex;
  margin-bottom: 36px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
}

.hamburger_item .arrow{
  display: inline-block;
  margin-left: 20px;
  transform: rotate(90deg) scale(0.4);
}

.hamburger_items ul li {
  padding-left: 20px;
  text-transform: none;
}

.hamburger_item a {
  color: #000;
}

.hamburger_items .hamburger_item a img {
  padding-left: 0;
  transform: scale(0.6);
}

@media (min-width: 768px) {
  .jump {
    position: absolute;
    left: 280px;
    top: 305px;
  }
  .hamburger_item .arrow {
    transform: rotate(0) scale(0.8);
  }
  .search_item {
    position: absolute;
    top: 50px;
    right: 116px;
  }
  .hamburger_items .hamburger_item a img {
    transform: scale(0.7);
  }
  .close_hamburger {
    right: 46px;
  }
}

@media (min-width: 1028px) {
  .hamburger_nav::after {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: #000   url(../img/hero-mobile.jpg) no-repeat center right;
    background-size: contain;
    content: '';
    z-index: -100;
  }
  .close_hamburger::before, .hamburger_item img {
    filter: invert(100%);
  }
}
/*#endregion hamburger_menu*/

/*#region header_bottom_title*/
.header_bottom_title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title-wrapper {
  position: relative;
  float: right;
  padding: 35px 0;
}

.title {
  background-color: black;
  padding: 8px;
  margin-right: 20px;
  text-align: right;
  float: right;
}

.title-wrapper::after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 100%;
  background: #e83c3c;
  content: "";
  z-index: -1;
}

.cta_link {
  display: flex;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta_text {
  color: white;
  margin: 40px;
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {
  .header_bottom {
    position: absolute;
    top: 100px;
    right: 16px;
    z-index: 1;
  }
  .title {
    font-size: 40px;
    line-height: 48px;
  }
  .title-wrapper {
    padding: 50px 0;
  }
  .title-wrapper::after {
    width: 300px;
  }
  .cta {
    width: 500px;
  }
  .cta_text {
    margin: 0 40px;
  }
  .vandaag {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  .title {
    margin-right: 36px;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 70px;
    line-height: 84px;
  }
  .title-wrapper::after {
    width: 500px;
  }
  .vandaag {
    font-size: 30px;
    line-height: 36px;
  }
}
/*#endregion header_bottom*/

/*#region arrow*/
.arrow {
  position: relative;
  height: 5px;
  width: 80px;
  transition: all 0.3s ease;
  border: 2px solid white;
  background-color: white;
}

a:hover .arrow {
  width: 150px;
}

.arrow::after {
  position: absolute;
  border: 2px solid white;
  width: 20px;
  transform: rotate(-45deg);
  content: '';
  top: 5px;
  right: -8px;
  background-color: white;
}

.left::after {
  left: -8px;
  top: -7px;
}

.arrow::before {
  position: absolute;
  border: 2px solid white;
  width: 20px;
  transform: rotate(45deg);
  content: '';
  top: -7px;
  right: -8px;
  background-color: white;
}

.left::before {
  left: -8px;
  top: 5px;
}

.black, .black::after, .black::before {
  border: 2px solid black;
  background-color: #000;
}
/*#endregion arrow*/

/*#region content_bottom*/
.content_bottom {
  background: url(../img/visual-eyecatchers.png) no-repeat top right;
  margin-top: 40px;
}

.cta_media {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 240px 16px;
}

.red_cta {
  background-color: #e83c3c;
  color: black;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 20px 30px;
  text-transform: capitalize;
  margin: 0 20px 35px 0;
}

.red_cta h2 {
  width: fit-content;
}

.red_cta .arrow {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .cta_media {
    padding: 0 16px 40px 16px;
  }
}
/*#endregion content_bottom*/

/*#region newsletter*/
.newsletter {
  padding: 20px 16px 360px 16px;
  background: url(../img/bg-footer.jpg) no-repeat bottom right;
  background-size: 120%;
}

.newsletter_intro h2 {
  margin-bottom: 20px;
}

.newsletter_intro p {
  margin-bottom: 40px;
}

.newsletter_subscribe {
  margin-bottom: 24px;
}

.newsletter_subscribe input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin-bottom: 20px;
  border: 0px;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.red_button {
  padding: 15px 30px;
  font-size: 18px;
  height: 54px;
  margin: 0;
  background-color: #e83c3c;
  border: 1px solid #e83c3c;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.red_button:hover {
  background-color: #fff;
  border-color: #fff;
}

@media (min-width: 768px) {
  .newsletter {
    padding-bottom: 190px;
    background-size: contain;
  }
  .newsletter_subscribe {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .red_button {
    width: fit-content;
  }
  .newsletter_intro p {
    margin-bottom: 70px;
  }
}

@media (min-width: 1024px) {
  .newsletter {
    padding-bottom: 320px;
  }
  .newsletter_subscribe {
    flex-direction: row;
    width: 50%;
  }
  .newsletter_subscribe input {
    width: 60%;
    margin-right: 20px
  };
}
/*#endregion newsletter*/

/*#region disclaimer*/
.disclaimer {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 20px;
}

.disclaimer a {
  text-decoration: underline;
}
/*#endregion disclaimer*/

/*#region footer_top*/
footer {
  background-color: #e83c3c;
}

.footer_top {
  background-color: #e83c3c;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  color: #000;
}

.footer_top ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.socials {
  margin-bottom: 40px;
}

.socials ul li { 
  height: 40px;
  width: 40px;
  margin-right: 16px;
  background-color: #000;
  border-radius: 100%;
}

.socials ul li a {
  filter: invert(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials ul li:hover {
  background-color: #fff;
}

.socials ul li:hover a{
  filter: invert(0);
}

.footer_logo {
  width: fit-content;
  margin-bottom: 70px;
}

.footer_logo img {
  width: 150px;
}

.content {
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 20px;
}

.content p {
  font-weight: 700;
  text-transform: capitalize;
}

.content hr {
  height: 2px;
  margin: 20px 0;
  border-color: #000;
  background-color: #000;
}

.content .date {
  font-weight: 400;
  text-transform: none;
}

.hashtag {
  margin-bottom: 30px;
  font-family: "Stolzl Display", sans-serif;
  font-size: 30px;
  font-weight: 700
}

.partners {
  margin-bottom: 24px;
}

.partners ul {
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
}

.partners img {
  height: 40px;
}

@media (min-width: 768px) {
  .footer_top {
    padding: 90px 16px 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .socials, .footer_logo, .hashtag, .partners {
    width: 50%;
  }
  .footer_top .content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer_top .content hr {
    flex-grow: 1;
    margin: 0 20px;
  }
  .footer_top .content p {
    font-size: 25px;
    line-height: 30px;
  }
  .footer_logo img {
    width: 220px;
  }
  .footer_logo a, .partners {
    display: flex;
    justify-content: end;
  }
  .partners ul{
    width: 80%;
  }
  .hashtag {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: 1024px) {
  .footer_top {
    padding: 130px 16px 70px;
  }
  .socials ul li {
    width: 60px;
    height: 60px;
  }
  .socials a {
    width: 100%;
    height: 100%;
  }
  .socials img {
    transform: scale(1.5);
  }
  .footer_logo img {
    width: 320px;
  }
}
/*#endregion footer_top*/

/*#region footer_bottom*/
.footer_bottom {
  padding: 24px 16px 8px 16px;
  background-color: #000;
}

.footer_bottom a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer_bottom ul:last-child::after {
  display: inline-block;
  content: url(../img/gentse-feesten-icoontjes/external-link.svg);
  transform: scale(.4);
  filter: invert(60%);
  margin-left: -10px;
}

.disclaimer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 20px;
  align-items: center;
}

.disclaimer li {
  padding-right: 10px;
  height: fit-content;
}

.disclaimer p {
  line-height: 28px;
  font-size: 13px;
}

.disclaimer li:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .disclaimer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .disclaimer nav {
    width: 70%;
  }
  .disclaimer p {
    flex-grow: 0;
  }
}

@media (min-width: 1024px) {
  .disclaimer nav {
    width: 30%;
  }
}
/*#endregion footer_bottom*/

/*#region news*/
.news {
  max-width: 1024px;
  margin: 0 auto;
  padding: 60px 16px 0 16px;
}

.news_list {
  list-style: none;
}

.news_article {
  margin-bottom: 50px;
}

.news_link {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  width: auto;
  border: 1px solid #fff;
}

.news_title {
  padding: 16px 0 0 16px;
}

.news_title .arrow {
  margin: 60px 0 40px 0;
}

@media (min-width:768px) {
  .news_link {
    flex-direction: row;
    justify-content: space-between;
  }
  .news_link img {
    width: 50%;
  }
  .news_title .arrow {
    margin-top: 100px;
  }
}

@media (min-width: 1024px) {
  .news_link img {
    width: 70%;
  }
}
/*#endregion news*/

/*#region filter_title*/
.filter {
  position: relative;
  padding: 60px 16px 0 16px;
}

.category_title {
  display: none;
}

.category_title h2 {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  background: #000;
}

.category_title::before {
  display: inline-block;
  position: absolute;
  bottom: 80px;
  width: 550px;
  left: -60px;
  height: 200px;
  background: #e83c3c;
  content: '';
  z-index: -1;
}

@media (min-width: 1280px) {
  .category_title {
    position: absolute;
    transform: rotate(-90deg);
    top: 375px;
    left: 0;
    width: 20%;
    margin-left: 5px;
    display: block;
  }
  .category_title h2 {
    font-size: 150px;
    line-height: 180px;
  }
  .filter_box {
    margin-left: 240px;
    margin-top: 60px;
  }
}
/*#endregion filter*/

/*#region filters*/
.filters {
  display: flex;
  flex-direction: column-reverse;
}

.filter_categories {
  list-style: none;
  display: flex;
}

.filters form {
  border: 1px solid #fff;
  padding: 24px 18px;
  display: inline-flex;
  flex-direction: row;
}

.filter input {
  margin-right: 40px;
}

.filter label {
  margin-left: -30px;
}

#rolstoel::after {
  display: block;
  transform: scale(0.65);
  content: url(../img/gentse-feesten-icoontjes/wheelchair.svg);
  filter: invert(100%);
  margin-left: 20px;
  margin-top: -5px;
}

.filter_categories li {
  width: 25%;
  border: 1px solid #fff;
}

.chosen {
  background-color: #fff;
}

#party::before {
  display: block;
  transform: scale(0.65);
  content: url(../img/gentse-feesten-icoontjes/marker.svg);
  filter: invert(100%);
}

#category::before {
  display: block;
  transform: scale(0.65);
  content: url(../img/gentse-feesten-icoontjes/category.svg);
  filter: invert(100%);
}

#time::before {
  display: block;
  transform: scale(0.65);
  content: url(../img/gentse-feesten-icoontjes/clock.svg);
  filter: invert(100%);
}

#kids::before {
  display: block;
  transform: scale(0.65);
  content: url(../img/gentse-feesten-icoontjes/balloon.svg);
  filter: invert(100%);
}

.filter_categories a {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.chosen a {
  filter: invert(100%);
}

.category_items {
  border: 1px solid #fff;
  border-bottom: none;
  list-style: none;
  padding: 30px;
  font-size: 20px;
  line-height: 30px;
}

.category_items li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 14px;
}

.category_items li::before {
  content: url(../img/gentse-feesten-icoontjes/category.svg); 
  filter: invert(100%);
  transform: scale(0.65);
  display: inline-block;
  margin-right: 10px;
}

.preview {
  border: 1px solid #fff;
  border-top: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.preview button {
  width: 50px;
  height: 50px;
  background-color: #000;
  border: none;
}

.grid::before {
  display: block;
  content: url(../img/gentse-feesten-icoontjes/raster.svg);
  filter: invert(100%);
  transform: scale(0.6);
}

.list::before {
  display: block;
  content: url(../img/gentse-feesten-icoontjes/list.svg);
  filter: invert(100%);
  transform: scale(0.6);
}

.preview .on {
  background-color: #e83c3c;
}

.on::before {
  filter: invert(0);
}

/*#endregion filters*/

/*#region*/

/*#endregion*/