html {
    font: 300 16px 'Stolzl', sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    line-height: 54px;
    font-family: 'Stolzl Display';
}

h2 {
    font-size: 24px;
    line-height: 36px;
    font-family: 'Stolzl Display';
}

.white {
    color: white;
}

.whitebg {
    background-color: white;
}

.black {
    color: black;
}

.blackbg {
    background-color: black;
}

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
        line-height: 60px;
    }
}

/*#region header_top*/
header {
    padding: 0 16px;
    overflow: hidden;
}

.header_top {
    padding: 50px 0;
    background: url(../img/hero-mobile.jpg) top center no-repeat;
    background-size: contain;
    width: auto;
    height: 550px;
}

.header_top_logo {
    width: 150px;
}

.nav_items {
    display: none;
}

.header_top_burger {
    display: inline-flex;
    position: absolute;
    top: 50px;
    right: 30px;
    padding: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    font-size: 20px;
}

.header_top_burger::before {
    content: url(../img/gentse-feesten-icoontjes/hamburger.svg);
    filter: invert(100%);
}

@media (min-width: 768px){
    .header_top {
        padding: 50px 0;
        background: url(../img/hero-tablet.jpg) top left no-repeat;
        height: 800px;
    }
    .header_top_search {
        position: absolute;
        top: 0;
        right: 16px;
        width: 300px;
        height: 140px;
        padding: 36px 30px;
        background: #e83c3c;
        display: flex;
        justify-content: flex-end;
    }
    .header_top_burger {
        right: 50px;
    }
    .header_top_burger::before {
        filter: invert(0%);
    }
}
/*#endregion header_top*/

/*#region header_bottom*/
.header_bottom_title {
    display: flex;
    flex-direction: column;
}

.title-wrapper {
    position: relative;
    float: right;
    padding: 35px 0;
}

.title {
    background-color: black;
    min-width: max-content;
    padding: 2px 10px 2px 2px;
    margin-right: 20px;
    text-align: right;
    float: right;
}

.title-wrapper::after {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 190px;
    height: 100%;
    background: #e83c3c;
    content: '';
    z-index: -1;
}

.cta_link {
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow-shaft {
    margin: 0 40px;
    height: 5px;
    width: 80px;
    transition: all 0.3s ease;
    border: 2px solid;
}

.cta_link:hover .arrow-shaft {
    width: 120px;
}

.header_bottom_nav {
    padding: 80px;
}

@media (min-width: 768px) {
    .header_bottom {
        position: absolute;
        top: 100px;
        right: 16px;
        z-index: 1;
    }
    .title-wrapper {
        padding: 50px 0;
    }
    .title-wrapper::after {
        width: 300px;
    }
    .cta {
        width: 500px;
    }
}
/*#endregion header_bottom*/

/*#region news*/
.news {
    padding: 0 16px;
}

.cta_news {
    width: max-content;
    padding: 20px 30px;
    border: 1px solid white;
}

.button {
    color: white;
    font-weight: 600;
    font-size: 18px;
}
/*#endregion news*/

/*#region content_bottom*/
.content_bottom {
    margin-top: 50px;
    padding: 0 16px;
}

.cta_media {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.red_button {
    background-color: #e83c3c;
    color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    text-transform: capitalize;
    gap: 20%;
}

.red_button h2 {
    width: fit-content;
}

.red_button .arrow_right {
    position: relative;
    width: 30%;
    left: -20px;
}

.red_button .arrow_left {
    position: relative;
    width: 80px;
    right: 40px;
}
/*#endregion content_bottom*/