html {
  font: 300 16px "Stolzl", sans-serif;
}

body {
  background-color: black;
  color: white;
}

/*#region code from w3schools.com*/
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
/*#endregion code from w3schools.com*/

header, main {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Stolzl Display";
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-family: "Stolzl Display";
}

h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
  color: #fff;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

/*#region header*/
.header {
  position: relative;
  padding: 50px 0;
  background: url(../img/hero-mobile.jpg) top center no-repeat;
  background-size: contain;
  width: auto;
  height: 550px;
}

.header_logo {
  display: inline-block;
  position: relative;
}

.gf_logo {
  width: 150px;
}

.header_nav {
  position: absolute;
  display: none;
  margin-top: 20px;
  margin-left: 70px;
}

.nav_items {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.nav_item {
  display: none;
  text-decoration: none;
  color: white; 
  padding: 0 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.header_search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header_search .nav_item {
  color: black;
}


@media (min-width: 768px) {
  .header {
    padding: 50px 0;
    background: url(../img/hero-tablet.jpg) top left no-repeat;
    height: 800px;
  }
  .header_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 140px;
    padding: 36px 30px;
    background: #e83c3c;
  }
  .search {
    display: flex;
    margin-right: 80px;
    margin-left: 20px;
    width: 21px;
    font-weight: 700;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px 0;
  }
}

@media (min-width: 1280px) {
  .header {
    background: url(../img/hero-desktop.jpg) top left no-repeat;
    height: 1200px;
  }
  .gf_logo {
    width: 176px;
  }
  .header_search {
    width: 500px;
    padding: 50px 40px;
  }
  .header_nav {
    display: inline-block;
  }
  .nav_item {
    display: inline-block;
  }
}
/*#endregion header*/

/*#region hamburger*/
.hamburger {
  display: inline-flex;
  position: absolute;
  top: 50px;
  right: 16px;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 20px;
}

.hamburger::before {
  content: url(../img/gentse-feesten-icoontjes/hamburger.svg);
  filter: invert(100%);
  font-weight: 400;
}

.cross::before {
  content: url(../img/gentse-feesten-icoontjes/cross.svg);
  z-index: 100;
}

.hamburger_nav {
  position: fixed;
  transform: translateY(-100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #e83c3c;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .hamburger {
    right: 30px;
  }
  .hamburger::before {
    filter: invert(0%);
  }
}
/*#endregion hamburger*/

/*#region arrow*/
.arrow {
  position: relative;
  height: 5px;
  width: 80px;
  transition: all 0.3s ease;
  border: 2px solid white;
  background-color: white;
}

a:hover .arrow {
  width: 150px;
}

.arrow::after {
  position: absolute;
  border: 2px solid white;
  width: 20px;
  transform: rotate(-45deg);
  content: '';
  top: 5px;
  right: -8px;
  background-color: white;
}

.left::after {
  left: -8px;
  top: -7px;
}

.arrow::before {
  position: absolute;
  border: 2px solid white;
  width: 20px;
  transform: rotate(45deg);
  content: '';
  top: -7px;
  right: -8px;
  background-color: white;
}

.left::before {
  left: -8px;
  top: 5px;
}

.black, .black::after, .black::before {
  border: 2px solid black;
  background-color: #000;
}

/*#endregion arrow*/

/*#region header_bottom_title*/
.header_bottom_title {
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  position: relative;
  float: right;
  padding: 35px 0;
}

.title {
  background-color: black;
  min-width: max-content;
  padding: 8px;
  margin-right: 20px;
  text-align: right;
  float: right;
}

.title-wrapper::after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 100%;
  background: #e83c3c;
  content: "";
  z-index: -1;
}

.cta_link {
  display: flex;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta_text {
  color: white;
  margin: 40px;
}

@media (min-width: 768px) {
  .header_bottom {
    position: absolute;
    top: 100px;
    right: 16px;
    z-index: 1;
  }
  .title {
    font-size: 40px;
    line-height: 48px;
  }
  .title-wrapper {
    padding: 50px 0;
  }
  .title-wrapper::after {
    width: 300px;
  }
  .cta {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .title {
    margin-right: 36px;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 70px;
    line-height: 84px;
  }
  .title-wrapper::after {
    width: 500px;
  }
}
/*#endregion header_bottom*/

/*#region event carousel*/
.carousel {
  margin-bottom: 50px;
  padding-top: 60px;
}

.carousel_buttons {
  position: relative;
  float: right;
  height: 32px;
  margin-right: 30px;
}

.carousel_buttons .right {
  right: 20px;
}

.carousel_buttons .left {
  right: 25px;
}

.carousel_buttons .arrow:hover {
  width: 150px;
}

.events {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  list-style: none;
  margin: 0 -10px;
  width: 2552px;
}

.event {
  flex: 0 0 auto;
  width: 319px;
  padding: 10px;
}

.event_link {
  text-decoration: none;
  color: white;
}

.event_image {
  position: relative;
  background-size: fill;
  background-position-y: top;
  aspect-ratio: 1.7 / 1;
  border: 1px solid white;
}

.event:nth-child(even) .event_image {
  aspect-ratio: 1.4 / 1;
}

.black_field {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  text-transform: uppercase;
  background-color: #000;
  padding: 5px 10px;
}

.event_info {
  position: relative;
  margin-top: -30px;
  margin-right: 70px;
  padding: 35px;
  background: #000;
  z-index: 1;
  border: 1px solid white;
}

.event_info p {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  padding: 5px 10px;
}

.red_field {
  background-color: #e83c3c;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}
/*#endregion event carousel*/

/*#region days grid*/
.days {
  display: inline-flex;
  list-style: none;
  width: 100%;
  height: 160px;
  flex-wrap: wrap;
}

.day {
  background-color: #e83c3c;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.day_short {
  font-size: 22px;
  line-height: 33px;
  font-family: "Stolzl Display", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .days {
    width: 350px;
    height: 370px;
    float: right;
    margin-right: 36px;
  }
  .day {
    width: 33.3%;
  }
  .day:nth-child(2) {
    margin-right: 33.3%;
  }
  .day:nth-child(9) {
    margin-left: 33.3%;
  }
}
/*#endregion days grid*/

/*#region news*/
.news {
  position: relative;
  padding: 0 16px;
}

.category_title {
  display: inline-block;
  position: relative;
  margin-left: -20px;
}

.category_title h2 {
  font-size: 70px;
  line-height: 90px;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  background: #000;
}

.category_title::before {
  display: inline-block;
  position: absolute;
  top: -40px;
  right: -20px;
  width: 100%;
  height: 90px;
  background: #e83c3c;
  content: '';
  z-index: -1;
}

.news_items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
  margin-top: 50px;
  height: 456px;
}

.news_article {
  border: 1px solid white;
  height: 154px;
}

.news_link {
  position: relative;
}

.news_link h3 {
  padding: 14px 14px 100px 14px;
}

.news_link .arrow {
  position: absolute;
  bottom: 14px;
  left: 14px;
}

.news .image {
  height: 250px;
}

.cta_news {
  margin-top: 40px;
  width: max-content;
  padding: 16px 24px;
  line-height: 30px;
  border: 1px solid white;
}

.button {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
/*#endregion news*/

/*#region content_bottom*/
.content_bottom {
  background: url(../img/visual-eyecatchers.png) no-repeat top right;
  margin-top: 40px;
}

.cta_media {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 16px 240px 16px;
}

.red_cta {
  background-color: #e83c3c;
  color: black;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px;
  text-transform: capitalize;
  gap: 20%;
  margin-right: 20px;
}

.red_cta h2 {
  width: fit-content;
}

.red_cta .arrow_right {
  position: relative;
  width: 30%;
  left: -20px;
}

.red_cta .arrow_left {
  position: relative;
  width: 80px;
  right: 40px;
}
/*#endregion content_bottom*/

/*#region newsletter*/
.newsletter {
  padding: 20px 16px 360px 16px;
  background: url(../img/bg-footer.jpg) no-repeat bottom right;
  background-size: 120%;
}

.newsletter_intro h2 {
  margin-bottom: 20px;
}

.newsletter_intro p {
  margin-bottom: 40px;
}

.newsletter_subscribe {
  margin-bottom: 40px;
}

.newsletter_subscribe input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin-bottom: 20px;
  border: 0px;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.red_button {
  padding: 15px 30px;
  font-size: 18px;
  margin: 0;
  background-color: #e83c3c;
  border: 1px solid #e83c3c;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
/*#endregion newsletter*/

/*#region disclaimer*/
.disclaimer {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 20px;
}

.disclaimer a {
  text-decoration: underline;
}
/*#endregion disclaimer*/

/*#region footer_top*/
.footer_top {
  background-color: #e83c3c;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  color: #000;
}

.footer_top ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.socials {
  margin-bottom: 40px;
}

.socials ul li { 
  height: 40px;
  width: 40px;
  margin-right: 16px;
  background-color: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials ul li a {
  filter: invert(100%);
}

.footer_logo {
  width: fit-content;
  margin-bottom: 70px;
}

.footer_logo img {
  width: 150px;
}

.content {
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 20px;
}

.content p {
  font-weight: 700;
  text-transform: capitalize;
}

.content hr {
  height: 2px;
  margin: 20px 0;
  border-color: #000;
  background-color: #000;
}

.content .date {
  font-weight: 400;
}

.hashtag {
  margin-bottom: 30px;
  font-family: "Stolzl Display", sans-serif;
  font-size: 30px;
  font-weight: 700
}

.partners {
  margin-bottom: 24px;
}

.partners ul {
  max-width: 300px;
  justify-content: space-between;
}

.partners img {
  height: 40px;
}
/*#endregion footer_top*/

/*#region footer_bottom*/

/*#endregion footer_bottom*/