header {
  position: relative;
}

.header {
  background: url(../../img/hero-mobile.jpg) top center no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 560px;
  padding-top: 50px;
}

.logo-container img {
  display: block;
  width: 10rem;
}

.site-logo {
  max-width: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header__links {
  padding-right: 32px;
  display: flex;
  gap: 45px;
  margin-bottom: 30px;
}

.header__links--right {
  margin-bottom: 0;
}

.header__link {
  position: relative;
  display: none;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header__link a {
  color: var(--white);
  text-decoration: none;
}

.header__link--search {
  display: none;
}

.header__link--black:hover {
  color: var(--white);
}

.header__link:hover {
  color: var(--white);
}

.header__link:hover::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7.5px;
  border: solid var(--white);
  border-width: 0 0 3px 0;
  height: 5px;
  width: 30px;
}

.header__link--search:hover .icon {
  filter: invert();
  cursor: pointer;
}

.header__link--black a {
  color: var(--black);
}

.hamburger {
  padding-right: 16px;
  background-color: transparent;
  border: none;
  width: auto;
  cursor: pointer;
}

.hamburger:hover img {
  filter: invert();
}

.header__bottom {
  width: 100%;
  position: relative;
}

.title__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;
}

.title__container::after {
  position: absolute;
  content: '';
  background-color: var(--red);
  height: 130px;
  width: 200px;
}

.title {
  z-index: 1;
  text-align: right;
  line-height: 1.1;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  margin-right: 16px;
  white-space: nowrap;
}

.header__cta {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-left: 80px;
  padding: 20px;
  text-align: left;
  cursor: pointer;
}

.cta__text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

@media (min-width: 700px) {
  header {
    background: url(../../img/hero-tablet.jpg) top left no-repeat;
    background-size: contain;
    height: 800px;
    position: relative;
  }
  .header {
    position: relative;
    height: fit-content;
    background: none;
  }
  .header__nav--right {
    background-color: var(--red);
    width: 300px;
    padding: 64px 16px 48px 16px;
    margin-top: -3rem;
  }
  .header__links .header__link--search {
    display: flex;
  }
  .header__bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 500px;
  }
  .title__container {
    margin-right: 0;
    margin-top: -10px;
  }
  .title__container::after {
    width: 300px;
  }
  .title {
    white-space: nowrap;
  }
  .header__cta {
    margin-left: 50px;
  }
}

@media (min-width: 1200px) {
  header {
    background: url(../../img/hero-desktop.jpg) top left no-repeat;
    background-size: contain;
    height: 1175px;
    position: relative;
  }
  .header {
    padding-top: 30px;
  }
  .logo-container {
    width: 11rem;
    margin-right: 50px;
  }
  .header__link {
    display: flex;
  }
  .header__nav--right {
    background-color: var(--red);
    width: 500px;
    padding: 70px 16px 48px 16px;
    margin-top: -3rem;
  }
  .header__bottom {
    width: 800px;
  }
  .title__container {
    margin-bottom: 10px;
  }
  .title__container::after {
    width: 500px;
    height: 200px;
  }
  .title {
    margin-right: 30px;
  }
  .header__cta {
    padding: 30px 0;
    margin-left: 350px;
  }
}

/*#region days grid*/
.days {
  display: inline-flex;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0;
}

.day {
  background-color: var(--red);
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  width: 20%;
  display: flex;
  justify-content: center;
  aspect-ratio : 1 / 1;
  height: auto;
}

.day__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--black);
}

.day__title {
  font-size: 22px;
  line-height: 33px;
  font-family: "Stolzl Display", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.day__date {
  font-size: 16px;
}

.day:hover {
  background-color: var(--black);
}

.day:hover .day__items {
  color: var(--white);
}

@media (min-width: 700px) {
  .days {
    width: 350px;
    margin-left: auto;
    margin-right: 30px;
  }
  .day {
    width: 33.3%;
    aspect-ratio: auto;
    height: 100px;
  }
  .day:nth-child(2) {
    margin-right: 33.3%;
  }
  .day:nth-child(9) {
    margin-left: 33.3%;
  }
  .day__title {
    font-size: 26px;
  }
  .day__date {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .days {
    width: 470px;
    margin-right: 130px;
  }
  .day {
    height: 120px;
  }
  .day__title {
    font-size: 30px;
  }
  .day__date {
    font-size: 18px;
  }
}
/*#endregion days grid*/