.news__all {
  margin-top: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.news__cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0;
}

.news__card {
  border: 1.5px solid var(--white);
}

.news__card a {
  display: flex;
  flex-direction: column-reverse;
  color: var(--white);
  text-decoration: none;
}

.news__title {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news__card:hover .news__title {
  background-color: var(--red);
}

@media (min-width: 700px) {
  .news__all {
    margin-top: 300px;
  }
  .news__card a {
    flex-direction: row;
  }
  .news__card .news__title, .news__card img {
    width: 50%;
  }
  .news__title {
    justify-content: space-between;
  }
}

@media (min-width: 1000px) {
  .news__card img {
    width: 70%;
  }
}